* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: asap;
    src: url(fonts/Asap-Regular.ttf);
}

.dropper {
    width: 400px;
    height: 800px;
    border-radius: 10px;
    border-color: #6e6eb4;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.drop-basic {
    color: #3f2e56;
    text-decoration: none;
    outline-color: transparent;
    margin-left: 20px;
    margin-top: 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 140px;
    width: 1920px;
}

.smaller-logo {
    width: 180px;
    height: 135px;
    margin-left: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: #6e6eb4;
    border-style: solid;
    width: 270px;
    height: 100px;
    font-size: 43px;
    font-family: asap;
    color: #6e6eb4;
    margin-left: 20px;
}

.linkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin-left: 20px;
    font-size: 43px;
    font-family: asap;
}

.toekomst-text { 
    font-size: 150px;
    font-family: asap;
    color: #3f2e56;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1000px;
    margin-top: 25px;
}

.jouw {
    margin-left: 250px;
}

.scnd-txt {
    font-size: 75px;
    font-family: asap;
    color: #3f2e56;
}

.main {
    display: flex;
    flex-direction: row;
}

.campusbaan {
    height: 475px;
    width: 750px;
    border-radius: 20px;
}

.school-image {
    height: 500px;
    width: 770px;
    border-radius: 20px;
    background-color: #6e6eb4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 75px;
}

.interest-box {
    font-size: 117px;
    color: #3f2e56;
    font-family: asap;
}

.opleiding-box {
    font-size: 117px;
    color: #3f2e56;
    font-family: asap;
}

.bigtext-bigbox {
    display: flex;
    flex-direction: column;
    height: 320px;
}

.kennismaking-first {
    display: flex;
    flex-direction: row;
}

.meeloopdag-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f2e56;
    font-size: 52px;
    margin-left: 50px;
    font-family: asap;
}

.smaller-textbox {
    display: flex;
    flex-direction: column;
}

.biedenbox {
    margin-left: -100px;
    margin-top: 50px;
    font-size: 43px;
    color: #3f2e56;
    font-family: asap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

.harrisbox {
    color: #3f2e56;
    font-size: 117px;
    font-family: asap;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 150px;
}

.trumpbox {
    font-size: 43px;
    font-family: asap;
    color: #3f2e56;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.dag {
    width: 300px;
    height: 835px;
    display: flex;
    flex-direction: column;
}

.uur {
    height: 150px;
    width: 100%;
    border-color: #3f2e56;
    display: flex;
    flex-direction: row;
    border-style: solid;
    font-size: 30px;
    font-family: asap;
    color: #3f2e56;
}

.date {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #3f2e56;
    border-style: solid;
    font-size: 30px;
    font-family: asap;
    color: #3f2e56;
}

.times {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: asap;
    color: #3f2e56;
}

.lestijden {
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1700px;
    height: 835px;
}

/* Luca's contribution */

.footer-decor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
    height: 168px;
    background-color: #121E28;
    bottom: 0;
    background-color: #6e6eb4;
    margin-top: 100px;
}

  .footer-main {
    display: flex;
    flex-direction: row;
    width: 1140px;
    height: 168px;
    gap: 150px;
    background-color: #3f2e56;
    border-radius: 15px;
    border-color: #121E28;
  }

  .contacttext {
    font-size: 23px;
    font-weight: 550;
    line-height: 1.2;
    font-family: asap;
    font-optical-sizing: auto;
    font-style: bolder;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    margin-left: 200px;
    margin-top: 70px;
    text-decoration: none;
    outline-color: transparent;
}

  .veelgesteldetext {
    font-size: 23px;
    font-weight: 550;
    line-height: 1.2;
    font-family: asap;
    font-optical-sizing: auto;
    font-style: bolder;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    margin-top: 70px;
    text-decoration: none;
    outline-color: transparent;
}

  .studiekeuzetext {
    font-size: 23px;
    font-weight: 550;
    line-height: 1.2;
    font-family: asap;
    font-optical-sizing: auto;
    font-style: bolder;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin-top: 70px;
    text-decoration: none;
    outline-color: transparent;
}

/* Nicks contribution */

.december-container {
    display: flex;
    height: 190px;
    width: 1920px;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #3f2e56;
    gap: 200px;
    border-bottom: 5px solid #3f2e56;
}

.december {
margin-left: 20px;
font-size: 66px;

}

.datum1 {
    font-size: 66px; 
}

.welke-vakantie1 {
    font-size: 66px; 
}

.maart-container {
    display: flex;
    height: 190px;
    width: 1920px;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #3f2e56;
    gap: 220px;
    border-bottom: 5px solid #3f2e56;
}

.maart {
margin-left: 20px;
font-size: 66px;

}

.datum2 {
    font-size: 66px; 
}

.welke-vakantie2 {
    font-size: 66px; 
}

.april-container {
    display: flex;
    height: 190px;
    width: 1920px;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #3f2e56;
    gap: 320px;
    border-bottom: 5px solid #3f2e56;
}

.april {
margin-left: 20px;
font-size: 66px;

}

.datum3 {
    font-size: 66px; 
}

.welke-vakantie3 {
    font-size: 66px; 
}

.juli-container {
    display: flex;
    height: 190px;
    width: 1920px;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #3f2e56;
    gap: 307px;
    border-bottom: 5px solid #3f2e56;
}

.juli {
margin-left: 20px;
font-size: 66px;

}

.datum4 {
    font-size: 66px; 
}

.welke-vakantie4 {
    font-size: 66px; 
}